.container {
  margin: auto;
}
h1 {
  span {
    font-size: 60px;
  }
}
h2 {
  span {
    font-size: 50px;
  }
}
p {
  font-size: 18px;
  margin: 0;
}
span {
  color: #15f178;
  font-size: 35px;
  font-weight: 800;
}
.learn {
  border: 3px solid #15f178;
  background-color: transparent;
  color: rgb(206, 206, 209);
  padding: 20px 60px;
}
.learn:hover {
  background-color:#15f178;
  border: 3px solid #15f178;
  color: #1e1f20;
}