.container {
  .card {
    border: none;
  }
  .card:hover {
    .card-img-overlay {
      display: flex;
    }
  }
  .card-img-overlay {
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: none;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-text {
    font-size: 18px;
    font-weight: 700;
    color: #15f178;
    &.title {
      font-size: 24px;
      text-align: center;
    }
    &.description {
      font-size: 16px;
      font-weight: 500;
      color: rgb(206, 206, 209);
    }
    &.packages {
      display: flex;
      flex-wrap: wrap;
      span::before {
        content: "- ";
      }
      span {
        width: fit-content;
        margin-right: 10px;
        font-size: 16px;
        color: rgb(206, 206, 209);
        font-weight: 500;
      }
    }
    &.links {
      text-align: center;
      font-size: 15px;
    }
  }
}